.forest-wrap
  %h1.search-results 
    Food Forests Witnin 
    %span.search-distance 20 
    Miles!
  .results
    .panel.imgLiquidFill.imgLiquid.search-photo-box
      = link_to "#{image_tag("http://www.scenicreflections.com/files/Vegetable_Garden_Wallpaper_8812t.jpg")}".html_safe, :root
      %p.search-text The OG Broccoli Forest
    .panel.imgLiquidFill.imgLiquid.search-photo-box
      = link_to "#{image_tag("http://0.tqn.com/d/sanfrancisco/1/0/K/X/-/-/colorfulvics800.jpg")}".html_safe, :root
      %p.search-text Cole Valley Forest
    .panel.imgLiquidFill.imgLiquid.search-photo-box
      = link_to "#{image_tag("http://richmondsfblog.com/images/richmondmap.png")}".html_safe, :root
      %p.search-text Richmond's First Forest
    .panel.imgLiquidFill.imgLiquid.search-photo-box
      = link_to "#{image_tag("http://sanfrancisco.grubstreet.com/20100126_dolores_560x375.jpg")}".html_safe, :root
      %p.search-text Ye Ol' Hipster Forest
    .panel.imgLiquidFill.imgLiquid.search-photo-box
      = link_to "#{image_tag("http://images2.wikia.nocookie.net/__cb20110226214303/charmed/images/c/cc/Golden-gate-park.jpg")}".html_safe, :root
      %p.search-text Forest of the Park
    .panel.imgLiquidFill.imgLiquid.search-photo-box
      = link_to "#{image_tag("http://davidpames.com/image_store/uploads/5/5/8/1/7/ar130084290771855.jpg")}".html_safe, :root
      %p.search-text Noe Forest Around Here
    .panel.imgLiquidFill.imgLiquid.search-photo-box
      = link_to "#{image_tag("http://farm8.staticflickr.com/7237/7384800920_bc9b15d971_z.jpg")}".html_safe, :root
      %p.search-text Such Great Heights
    .panel.imgLiquidFill.imgLiquid.search-photo-box
      = link_to "#{image_tag("http://www.sfiop.org/wp-content/uploads/2013/05/castro-theater-san-francisco.jpg")}".html_safe, :root
      %p.search-text Castro Forest