!!!
%html
  %head
    %title
      = yield(:title)
    = stylesheet_link_tag 'application', :media => 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body
    #nav
      = render :partial => 'shared/nav'
    #flash
      = render :partial => 'shared/flash'
    #wrapper
      = yield
    #footer
